* {
  box-sizing: border-box;
}
.App {
  background-color: rgb(14, 65, 116);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}
.App button {
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid #ddd;
  outline: none;
  box-shadow: 0px 0px 3px #ddd;
  padding: 10px 40px;
  font-size: 30px;
  color: #ddd;
  border-radius: 20px;
  margin-top: 20px;
}
.Close {
  position: absolute;
  z-index: 10;
  right: 80px;
  top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 600px) {
  .Close {
    right: 40%;
    
  }
}
